
  .div {
    background-color: #ffffff;
    width: 450px;
    height: 625px;
    position: relative;
  }
  
  .frame {
    display: inline-flex;
    height: 625px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 50px;
    left: 70px;
  }
  
  .group {
    position: relative;
    width: 406px;
    height: 583px;
    margin-right: -2px;
  }
  
   .div-wrapper {
    display: inline-flex;
    height: 53px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
   .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .p {
    position: absolute;
    width: 372px;
    top: 53px;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .frame-2 {
    display: flex;
    flex-direction: column;
    width: 404px;
    height: 59px;
    align-items: flex-start;
    position: absolute;
    top: 139px;
    left: 0;
  }
  
   .name {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    border: none;
    background: none;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
  }
  
   .frame-wrapper {
    display: flex;
    width: 404px;
    height: 32px;
    align-items: center;
    gap: 10px;
    padding: 10px 0px 10px 10px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #d9d9d9;
  }
  
   .name-wrapper {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -1px;
    margin-bottom: -1.5px;
    border: none;
    background: none;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    padding: 10px;
    width: 370px;
  }
  
   .frame-3 {
    height: 59px;
    top: 218px;
    display: flex;
    flex-direction: column;
    width: 404px;
    align-items: flex-start;
    position: absolute;
    left: 0;
  }
  
   .frame-4 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
   .name-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -1.5px;
    margin-bottom: -1.5px;
  }
  
   .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: var(--muted);
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .don-t-have-an-wrapper {
    position: absolute;
    width: 231px;
    height: 23px;
    top: 560px;
    left: 93px;
  }
  
   .don-t-have-an {
    position: absolute;
    width: 229px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .span {
    color: #000000;
  }
  
   .text-wrapper-3 {
    color: #0f3cde;
  }
  
   .overlap-group-wrapper {
    position: absolute;
    width: 404px;
    height: 35px;
    top: 332px;
    left: 0;
  }
  
   .overlap-group {
    position: relative;
    height: 32px;
  }
  
   .frame-6 {
    top: 0;
    display: flex;
    flex-direction: column;
    width: 404px;
    align-items: flex-start;
    position: absolute;
    left: 0;
  }
  
   .frame-7 {
    display: flex;
    width: 404px;
    height: 32px;
    align-items: center;
    gap: 10px;
    padding: 10px 0px 10px 10px;
    position: relative;
    background-color: #3a5b22;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
  }
  
   .text-wrapper-4 {
    position: absolute;
    top: 15px;
    left: 185px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .chris-lee {
    position: absolute;
    width: 900px;
    height: 625px;
    top: 0;
    left: 554px;
    object-fit: cover;
  }
  .try{
    top: 500pc;
    left: 200px;
  }
  